h1 {
	font-family: "katarine-web", sans-serif;
font-weight: 600;
font-style: normal;
}

h2 {
font-family: "katarine-web", sans-serif;
font-weight: 400;
font-style: normal;
}

h4 {
font-family: "katarine-web", sans-serif;
font-weight: 400;
font-style: normal;
}

p {
font-family: "katarine-web", sans-serif;
font-weight: 400;
font-style: normal;
}

li {
font-family: "katarine-web", sans-serif;
font-weight: 400;
font-style: normal;
}